@media screen and (max-width: 375px) {
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #fff;
  }

  .hidden {
    display: none;
  }

  /* header */

  .header {
    max-width: 100%;
    margin: 11px 16px 29px;
  }

  .header__logo {
    width: 63px;
    height: 60px;
  }

  /* video */

  .modal__video {
    position: fixed;
    z-index: 30;
    background: #fafafa;
    padding: 30px;
    top: 50%;
    left: 50%;
    box-shadow: 4px 4px 20px;
    margin-left: -180px;
    margin-top: -96px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .modal__video_hidden {
    display: none;
  }

  .modal__video-container {
    position: relative;
  }

  .modal__video-close {
    position: absolute;
    top: -32px;
    right: -34px;
    width: 40px;
    height: 40px;
    background: url("../img/close_icon.svg") no-repeat center center;
    background-size: 20px 29px;
  }

  .modal__video-iframe {
    height: 188px;
    width: 300px;
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  .video__container {
    border: 3px solid #ee3d48;
    box-sizing: border-box;
    border-radius: 8px;
    display: inline-flex;
    padding: 6px;
    position: relative;
  }

  .video__container::before {
    content: "";
    display: block;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
    position: absolute;
    box-shadow: 0px 4px 30px rgba(238, 61, 72, 0.5);
    bottom: -45px;
    left: -13px;
    border: 25px solid #ee3d48;
    border-radius: 50%;
    z-index: -1;
  }

  .video__container::after {
    content: "";
    display: block;
    position: absolute;
    width: 83px;
    height: 44px;
    background: url("../img/dots_bg.svg") no-repeat center center;
    top: -13px;
    right: -10px;
    z-index: -1;
  }

  .video__play {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 50%;
    left: 50%;
    margin-left: -55px;
    margin-top: -55px;
  }

  .video__previev {
    width: 315px;
    height: 188px;
    object-fit: cover;
    border-radius: 8px;
  }

  /* Benefits */

  .benefits {
    margin: 0 16px 80px;
  }

  .benefits__header {
    margin: 0 0 32px;
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: #131313;
    max-width: 80%;
  }

  .benefits__header_select {
    color: #ee3d48;
  }

  .benefits__subtitle {
    margin: 0 0 50px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #131313;
  }

  .benefits__subtitle_select {
    color: #ee3d48;
    text-decoration: underline;
  }

  .benefits__cards {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 16px;
    justify-content: space-between;
  }

  .benefits__card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 156px;
  }

  .benefits__card-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 4px;
  }

  .benefits__card-title {
    text-align: center;
    color: #131313;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    max-width: 80%;
    padding: 0;
    margin: 0;
  }

  /* Catalog */
  .catalog__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #131313;
    margin: 0 0 30px 16px;
  }

  .catalog__item {
    margin-left: 16px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
    padding-top: 16px;
  }

  .catalog__slider {
    position: relative;
    overflow: hidden;
  }

  .catalog__slider-content {
    display: flex;
    align-items: center;
    transition: all 1s linear;
  }

  .catalog__slider-item {
    width: 296px;
    height: 222px;
    margin-right: 16px;
  }

  .catalog__slider-dots {
    text-align: center;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .catalog__slider-dot {
    font-weight: normal;
    background: #d5dae0;
    border-radius: 10px;
    width: 8px;
    height: 4px;
    display: block;
    margin-right: 8px;
  }

  .catalog__slider-dot:last-of-type {
    margin-right: 0;
  }

  .catalog__slider-dot_active {
    font-weight: bold;
    position: relative;
    width: 24px;
    height: 4px;
  }

  iframe .ytp-watermark .yt-uix-sessionlink .ytp-watermark-small {
    opacity: 0;
  }

  .catalog__slider-dot_active::before {
    content: "";
    width: 16px;
    height: 4px;
    display: block;
    position: absolute;
    background: #ee3d48;
    border-radius: 10px;
    top: 0;
    left: 0;
  }

  .catalog__slider-button {
    position: absolute;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 2px;
    background: url("../img/slider-arrow_icon.svg") no-repeat center center;
    background-color: rgba(0, 0, 0, 0.24);
    top: 50%;
    margin-top: -20px;
    z-index: 10;
  }

  .catalog__slider-button_right {
    right: 67px;
  }

  .catalog__slider-button_left {
    left: 4px;
    transform: scaleX(-1);
  }

  .catalog__item-header {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin: 16px 0 3px 0;
  }

  .catalog__item-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #131313;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .catalog__item-params {
    color: #6a6a6a;
    margin-left: 4px;
  }

  .catalog__slider-img {
    width: 296px;
    height: 222px;
  }

  .catalog__options {
    margin-bottom: 10px;
    margin-right: 16px;
  }

  .catalog__options-header {
    color: #ee3d48;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    background: #fafafa;
    padding: 4px 16px 4px 4px;
    border-bottom: 1px solid #ee3d48;
    display: inline-block;
    margin: 0;
  }

  .catalog__options-content {
    background: #fafafa;
    max-height: 152px;
    overflow-y: scroll;
  }

  .catalog__options-content::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0);
    width: 3px;
  }

  .catalog__options-content::-webkit-scrollbar-thumb {
    background: #ee3d48;
    border-radius: 2px;
    width: 3px;
    height: 25px;
  }

  .catalog__options-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    box-sizing: border-box;
  }

  .catalog__options-info {
    margin-left: 8px;
  }

  .catalog__options-img {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    object-fit: cover;
  }

  .catalog__options-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #131313;
    margin: 0;
    padding: 0;
  }

  .catalog__options-price {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #ee3d48;
    margin: 0;
    padding: 0;
  }

  .catalog__options-checkbox {
    margin-left: auto;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #ee3d48;
    box-sizing: border-box;
    border-radius: 2px;
  }

  .catalog__options-checkbox_active {
    background-color: #ee3d48;
    background: url("../img/checkbox_checked.svg") no-repeat center center;
    background-size: 15px 15px;
    border: none;
  }

  .catalog__rent-header {
    font-size: 14px;
    line-height: 18px;
    color: #939598;
    margin: 0 0 8px 0;
  }

  .catalog__rent-time {
    margin: 0 0 10px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    row-gap: 8px;
    column-gap: 10px;
  }

  .catalog__rent-item {
    background: #f1f2f2;
    border-radius: 6px;
    padding: 4px 12px;
    font-size: 12px;
    line-height: 18px;
    color: #131313;
  }

  .catalog__rent-item_active {
    background: #ee3d48;
    color: #fff;
  }

  .catalog__price {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fafafa;
    padding-top: 12px;
  }

  .catalog__amount {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin: 0;
    padding: 0;
  }

  .catalog__order-btn {
    background: #ee3d48;
    border: none;
    border-radius: 6px;
    width: 167px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-right: 16px;
  }

  .catalog__show-more {
    border: 1px solid #ee3d48;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #ee3d48;
    width: 327px;
    height: 39px;
    background: none;
    display: block;
    margin: 30px auto 40px;
  }

  /* modal */

  .modal {
    max-width: 360px;
    color: #131313;
    padding: 16px;
    box-sizing: border-box;
    margin: 0 auto;
    z-index: 20;
    background-color: #fff;
    display: none;
  }

  .modal_active {
    display: block;
    position: fixed;
    top: 50%;
    left: 7px;
    margin-top: -200px;
  }

  .modal__close-icon {
    width: 40px;
    height: 40px;
    background: url("../img/close_icon.svg") no-repeat center center;
    background-size: 17px 17px;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .modal__header {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    margin: 0 0 36px 0;
    padding: 0;
  }

  .modal__row {
    display: flex;
    justify-content: space-between;
    margin-right: 29px;
  }

  .modal__info-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 0;
  }

  .modal__info-params {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    padding: 0;
  }

  .modal__info-data {
    color: #6a6a6a;
    margin-left: 4px;
  }

  .modal__customSelect {
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #131313;
    border: 1px solid #d5dae0;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4px 13px 4px 8px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
  }

  .modal__info-customIcon {
    background: url("../img/arrow_icon.svg") no-repeat center center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
  }

  .modal__info-cost {
    color: #131313;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .modal__options {
    list-style-type: none;
    margin: 32px 29px 0 0;
    padding: 0;
  }

  .modal__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .modal__item:last-of-type {
    margin-bottom: 16px;
  }

  .modal__item-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #131313;
    max-width: 200px;
  }

  .modal__item-price {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #131313;
  }

  .modal__total {
    border-top: 1px solid #ebebeb;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 0 0;
    margin: 0 0 24px 0;
  }

  .modal__total-amount {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
  }

  .modal__row-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ee3d48;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4px 4px 4px 10px;
  }

  .modal__input {
    border: none;
    font-size: 16px;
    line-height: 24px;
    max-width: 162px;
  }

  .modal__input:focus {
    outline: none;
  }

  .modal__custom-callback {
    background: #f5f5f5;
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;
    width: 152px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .model__callback-icon {
    background: url("../img/arrow-icon-black.svg") no-repeat center center;
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }

  .modal__submit {
    display: block;
    border: none;
    background: #ee3d48;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-top: 22px;
  }
}
